<div class="container body-container">
    <div class="border profile-content">
        <h4>PROFILE</h4>
        <div class="text-box">
            <p>
                I'm a tireless to learn, I enjoy it if is everything about software and innovation, my favorite sites to know new knowledges are: dev.to , medium.com and channel9.
            </p>

            <p>
                When I want practice or remember some design pattern, I prefer to use the follow site:
                <a href="https://sourcemaking.com/" target="blank">https://sourcemaking.com/</a> Write code is an art, it’s like write a book, you write for others not for you

            </p>
        </div>
    </div>
    <div class="border profile-content">
        <h4>Work Experience</h4>
        <div class="text-box">
            <b>
                Tata Consultancy Services (TCS) Incident Solver
            </b>
            <p>
                June 2011 – August 2012 Incidents solver project in Bancolombia software factory from the virtual applications of the bank it ´s develop and analyze in the platform AS400(Iseries) in the language COBOL, RPG and cl.
            </p>
            <b>Doctus Developer</b>
            <p>
                July 2013 – May 2015 ASP .NET C# Framework 4.0,4.5 MVC of ASP .NET with syntaxes razor, Cms Orchard , services Rest format json with web api, Soap services. Android with the libraries to consume services rest Gson, Jquery, Methodology of work scrum.
            </p>
            <b>ZByte Developer</b>
            <p>
                May 2015 – June 2016 software developer on asp. Net Framework 4.5 Visual Studio 2012 and developer on RPG Free with server as400 or iseries outsourcing for Leonisa
            </p>
            <b>Sofka Developer fullstack</b>
            <p>
                June 2016 – August 2019 for backend software developer on asp. Net Framework 4.5 VisualStudio 2017 and Java on intelliJ and developer on angular js and html5 with Visual Code and dependecy maneger npm.


            </p>
            <b>Satrack Developer fullstack</b>
            <p>
                August 2019– Present Developer in .NetCore, Xamarin, Angular js and Angular.


            </p>
        </div>
    </div>
</div>